.searchBar {
    display: flex;
   justify-content: center;
   padding-bottom: 1rem;
   .span {
    width: 60%;
   }
   input {
    width: 100%;
   }
}

@media screen and (max-width: 575px) {
    .showItem { 
        width: 45%;
        margin: auto;
        padding-bottom: 1rem;
    }
}
::ng-deep {
    @media screen and (max-width: 575px){
        .p-paginator {
            height: 40px;
            align-content: center;
        }
        .p-paginator .p-paginator-pages .p-paginator-page{
            min-width: 2rem;
            height: 2rem;
    }
    .p-paginator .p-paginator-last, .p-paginator .p-paginator-first {
        min-width: 1.5rem;
    }
    }
    @media screen and (max-width: 415px) {
        .p-paginator{
            height: 25px;
            font-size: 0.9rem;
        }
    .p-paginator .p-paginator-pages .p-paginator-page{
        min-width: 1.5rem;
        height: 1.5rem;
}
.p-paginator .p-paginator-last, .p-paginator .p-paginator-first {
    min-width: 1.2rem;
}

.p-paginator .p-paginator-last{
    padding-left: 0;
}
    }
    @media screen and (max-width: 375px) {
        .p-paginator{
            height: 20px;
        }
    .p-paginator .p-paginator-pages .p-paginator-page{
        min-width: 1.2rem;
        height: 1.2rem;
        padding: 0.4rem;
}
.p-paginator .p-paginator-last, .p-paginator .p-paginator-first {
    min-width: 1.1rem;
}

    }
    @media screen and (max-width: 352px) {
    .p-paginator .p-paginator-pages .p-paginator-page{
        min-width: 1rem;
        height: 1rem;
}
    }
}

    @media screen and (max-width: 450px) {
        input {
           padding: 0.3rem 0;
        }
    }

    
    @media screen and (max-width: 310px) {
        .showItem { 
            width: 64%;
            margin: auto;
            padding-bottom: 1rem;
        }
        .searchBar {
        .span {
            width: 80%;
         }
        }
        }

        
